<header>
    <div class="nav-menu-container">
      <div class="brand">
        Weekly Respawn <i class="fa-regular fa-newspaper"></i>
      </div>
      <ul class="nav-options">
        <li>
          Home
        </li>
        <li>
          Blogs
        </li>
        <li>
          Add Blog
        </li>
        <li>
          Register
        </li>
        <li>
          Login
        </li>
        <li>
          Profile
        </li>
        <li>
          Logout
        </li>
      </ul>
    </div>
</header>
