/* NAV-MENU */
.nav-menu-container {
  height: 5rem;
  background-color: aliceblue;
}

.nav-options {
  display: flex;
  gap: 5rem;
  font-size: 1.5rem;
  align-items: center;
  list-style-type: none;
  justify-content: end;
  padding-right: 1rem;
}

.nav-menu-container ul li {
  border-radius: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav-menu-container ul li:hover {
  color: darkgreen;
  font-style: italic;
  cursor: pointer;
  transition: 0.5s;
  background-color: antiquewhite;
}


/* BRANDING */

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
}